.index_back{
    background-color: #f3f3f3;

    width: 500px;
    height: 100vh;

    position: relative;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;

}

.index_back_title{
    position: absolute;

    font-family: 'GangwonEduPowerExtraBoldA';
    font-size: 4.5vh;
    
    

}

.index_back_spans_div{
    font-family: 'GmarketSansMedium';
    position: absolute;
    top:10vh;

}


.index_button{
    font-family: 'GmarketSansMedium';
    position: relative;
    top : 10vh;
    
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}